<ion-view title="Detalhe da Proposta" id="page3">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Proposta Nº 16565656</div>
            <div class="item item-body">
                <form class="list">
                    <label class="item item-input">
                        <span class="input-label">Valor</span><textarea placeholder=""> 160.000,00</textarea>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Data de Cadastro</span><textarea placeholder=""> 16/01/2009</textarea>
                    </label>
                </form>
            </div>
            <div class="item item-divider">Inicio: 01/09/2009 Fim: 01/10/2009</div>
        </div>
        <a ui-sref="menu.propostas" id="detalheDaProposta-button4" style="font-weight:;" class="button button-assertive ">Rejeitar</a>
        <a ui-sref="menu.propostas" id="detalheDaProposta-button9" style="font-weight:;font-size:15px;" class="button button-balanced ">Aprovar</a>
        <div class="button-bar">
            <a ui-sref="menu.propostas" id="detalheDaProposta-button3" style="font-weight:;" class="button button-positive  button-block">Voltar</a>
        </div>
    </ion-content>
</ion-view>