<ion-view title="" id="page4">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <ion-slide-box on-slide-changed="slideHasChanged($index)">
                <ion-slide>
                    <div class="box blue" style=" height: 100%;">
                        <h1>Denuncie</h1>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="box yellow">
                        <h1>Curta</h1>
                    </div>
                    <p>Curta as melhores propostas</p>
                </ion-slide>
                <ion-slide>
                    <div class="box pink">
                        <h1>Comente</h1>
                    </div>
                </ion-slide>
            </ion-slide-box>
        </div>
        <a ui-sref="menu.inicio" id="page4-button7" class="button button-positive  button-block">Entrar!</a>
    </ion-content>
</ion-view>