<ion-view title="Propostas" id="page1">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list"></form>
        <ion-list>
            <label class="item item-select">
                <span class="input-label">Situação</span>
                <select>
                    <option>Em análise</option>
                    <option>Aprovada</option>
                    <option></option>
                </select>
            </label>
        </ion-list>
        <ion-list></ion-list>
        <ion-list>
            <ion-item ui-sref="detalheDaProposta">Municipio SJ /construçâo de um centro de referencia</ion-item>
            <ion-item>FundaçãoS. Carlos/</ion-item>
            <ion-item>Plano de Fomação e Aprimoramento Profissional</ion-item>
        </ion-list>
    </ion-content>
</ion-view>